#helloworld {
  background-color: #3B4344; }
  #helloworld h2 {
    margin-top: 50px;
    font-size: 30px;
    color: white;
    font-weight: bold; }
  #helloworld p {
    color: white; }
  #helloworld .leftside {
    margin-top: 100px;
    color: white; }
    #helloworld .leftside p {
      font-weight: bold;
      font-size: 1.2em;
      color: white;
      line-height: 40px; }
  #helloworld .center {
    margin-top: 50px; }
  #helloworld .rightside {
    margin-top: 100px;
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    line-height: 40px; }

#servicepackage h2 {
  margin-top: 50px;
  font-size: 30px;
  color: #555555;
  font-weight: bold; }
#servicepackage p {
  color: #B2AFAF; }
#servicepackage .col-md-3 {
  margin-top: 50px;
  margin-right: 30px;
  width: 260px;
  border: 3px solid #F1F1F1;
  transition: 250ms all linear; }
  #servicepackage .col-md-3 h2, #servicepackage .col-md-3 h1 {
    border-bottom: 1px solid  #F1F1F1;
    padding-bottom: 15px; }
  #servicepackage .col-md-3 p {
    margin-top: 15px; }
  #servicepackage .col-md-3 a {
    margin-top: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #B2AFAF; }
  #servicepackage .col-md-3 a:hover {
    margin-top: 20px;
    color: #31a3dd;
    font-weight: bold; }
#servicepackage .col-md-3:hover {
  margin-top: 20px; }

#customer {
  margin-top: 50px;
  background: url("../img/demo-2.png") repeat;
  height: 300px;
  width: 100%; }
  #customer h2 {
    margin-top: 80px;
    font-weight: bolder;
    color: #555555; }
  #customer p {
    color: #B2AFAF; }
  #customer .text2 {
    margin-top: 30px;
    font-size: 20px; }

#info h3 {
  margin-top: 50px;
  color: #555555;
  font-weight: bold;
  margin-bottom: 50px; }
#info .leftside .text1 {
  line-height: 50px;
  background-color: #31A3DD;
  color: white;
  width: 545px;
  border: 1px solid #f1f1f1;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
  font-size: 20px; }
  #info .leftside .text1 p {
    margin-left: 10px; }
#info .leftside .text3 {
  border: 1px solid #f1f1f1;
  width: 545px;
  color: #999999;
  padding: 20px; }
#info .leftside .text {
  line-height: 50px;
  border: 1px solid #F1F1F1;
  border-radius: 5px;
  color: #555555;
  font-weight: bold;
  font-size: 20px;
  width: 550px;
  margin: 10px; }
  #info .leftside .text span i {
    color: #31A3DD; }
#info .rightside .col-md-3 {
  height: 160px;
  width: 180px;
  background-color: #31A3DD;
  margin: 5px;
  border-radius: 3px;
  transition: .2s all linear; }
#info .col-md-3 h1 {
  font-size: 60px;
  font-weight: bold;
  color: white; }
#info .col-md-3 p {
  color: white;
  font-size: 15px; }
#info .col-md-3:hover {
  background-color: #404242; }

#news {
  padding: 20px; }
  #news .container {
    text-align: center;
    color: #555; }
    #news .container h3 {
      line-height: 20px;
      font-size: 18px;
      color: #555;
      font-family: "Lato"; }
    #news .container p {
      margin-bottom: 30px; }
    #news .container img {
      width: 262px;
      height: 187px; }

#golden .container {
  border-top: 1px solid #778899;
  text-align: center;
  font-family: "Lato"; }
  #golden .container .row {
    margin-bottom: 10px; }
  #golden .container .ikons {
    width: 50px; }
  #golden .container h3 {
    font-size: 20px;
    line-height: 20px; }
#golden .col-md-3 {
  height: 117px;
  text-align: center;
  margin-bottom: 10px; }
  #golden .col-md-3:hover {
    background-color: #DCDCDC; }
  #golden .col-md-3 img {
    margin: 40px 40px; }

#pay {
  margin-top: 50px; }
  #pay .container {
    font-family: "Lato";
    border: 20px solid #DCDCDC; }
  #pay h3 {
    font-size: 20px;
    line-height: 20px;
    margin: 10px;
    color: #A9A9A9; }
  #pay p {
    margin: 10px;
    color: #A9A9A9; }
  #pay button {
    float: right;
    background-color: #808080;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer; }

#footer {
  background-color: #333333;
  color: #D3D3D3;
  margin-top: 40px; }
  #footer .container {
    margin-bottom: 40px; }
  #footer p {
    margin-top: 20px; }
  #footer img {
    margin-top: 10px; }
  #footer b {
    color: white; }
  #footer h4 {
    color: white;
    border-bottom: 2px solid #31A3DD;
    padding-bottom: 11px;
    text-transform: uppercase; }
  #footer a img {
    width: 80px;
    height: 70px; }
    #footer a img:hover {
      opacity: 0.3; }
  #footer button {
    margin-top: 10px;
    width: 100%;
    height: 46px;
    border-style: none;
    background-color: #31A3DD; }

#footerend {
  background-color: #35383A;
  color: #5f5f5f; }
  #footerend .col-md-6 ol {
    background-color: #35383A;
    float: right; }
  #footerend p {
    margin-top: 5px; }

/*# sourceMappingURL=style.css.map */
